* {
  box-sizing: border-box;
  font-family: "Manjari", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  background-color: #eb8484;
  margin: auto;
  position: relative;
  bottom: 20px;
  color: white;
  padding: 20px;
}

.bd {
  border: 1px red solid;
}

.header--title {
  text-align: center;
}

.timer-container {
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dynamic-box {
  width: 50px;
  height: 50px;
  border: 1px solid blue;
}

.left {
}

.right {
}

.hidden {
}
